@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');


.footer1{
     background-color: rgb(255, 255, 255);
     height: 150px;
     width: 100%;
    
}

.logo1{
     width: 320px;
     height: 90px;
}

.logo2{
     width: 150px;
     height: 150px;
}

.logo3{
     width: 320px;
     height: 90px;
}
.logo4{
     width: 290px;
     height: 90px;
     margin-left: -30px;
}
.logo5{
     width: 160px;
     height: 120px;
}

.logo6{
     width: 290px;
     height: 90px;
     
}